
section{
    
    min-height: 100vh;
    width: 100%;
    background: rgb(181, 196, 184);
}
section:nth-child(odd){
    background: rgb(212, 241, 212);
}
footer{
    background-color: rgb(82, 87, 85);
    color: rgb(249, 252, 251);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    font-size: 15px;
}
body{
    padding-bottom: 2rem;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #37FBB3;
}
.container{
    
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-size: cover;
    background-position: center;
}





.wrapper{
    align-items: center;
    width: 330px;
    background: transparent;
    background-color: rgba(0,0,0,0.2);
    border: 3px solid  #013220;
    color: rgb(250, 248, 248);
    border-radius: 20px;
    padding: 20px 30px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(36, 22, 22, 2);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    }
.wrapper .input-box{
    
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #013220;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(239, 237, 237);
    padding: 20px 45px 20px 20px;
    box-shadow: 0 0 10px rgba(36, 22, 22, 1);
}
.input-box input::placeholder{
    color: rgb(247, 250, 249);
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    color: #013220;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #629280;
    border: 3px solid #013220;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(36, 22, 22, 1);
    cursor: pointer;
    font-size: 16px;
    color: #013220;
    font-weight: 600;
    
}
.wrapper .btn:hover{
    color: white;
    background-color: #00311f;
    font-size: 20px;
}
.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    color: #013220;
    
}

